html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
#site{
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	width: 100%;
	margin: 0 auto;
}
.centralizar{
	margin: 0 15% 0 15%;
	background-color: #fff;
	min-height: 15em;
	-webkit-box-shadow: 0px 7px 42px 4px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 7px 42px 4px rgba(0,0,0,0.59);
	box-shadow: 0px 7px 42px 4px rgba(0,0,0,0.59);
	min-height: 35em;

}
.conteudo{
	width: 100%;
	padding: 2em;

}
/*SlIDES*/
.slides{
	min-height: 250px;
}
.slides ul{
	min-height: 250px;
	max-height: 250px;
	max-width: 450px;
	min-width: 450px;
	margin: 0 auto;
	
}
.slides ul li{
	min-height: 250px;
	max-height: 250px;
	max-width: 450px;
	min-width: 450px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: 1s;
	opacity: 0;
}
.clear{
	clear: both;
}
/******TABS****/
.tab_contant{
	min-height: 250px;
	max-height: 250px;
	max-width: 450px;
	min-width: 450px;
	margin: 0 auto;
	padding: 1.5em;
}
.tabs{
	width: 35%;
	padding: 1em;
	float: left;
	max-width: 10em;
	font-family: Lato;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	background-color: #fff;

	-webkit-box-shadow: 0px -7px 30px 9px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    0px -7px 30px 9px rgba(50, 50, 50, 0.35);
	box-shadow:         0px -7px 30px 9px rgba(50, 50, 50, 0.35);

}
.zero_top{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0;
}
.active{
	border-right: none;
	border-left: 3px solid red;

	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}
.tab ul{
	max-height: 4em;
	width: 100%;
}